/* font embeded */
@font-face {
  font-family: ProximaNova-Semibold;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(../fonts/FontsFree-Net-ProximaNova-Regular.ttf);
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

@font-face {
  font-family: ProximaNova-Medium;
  src: url(../fonts/ProximaNova-Medium.otf);
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.login-logo {
  position: absolute;
  right: 30px;
  top: 30px;
}

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 68px 60px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .login-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 575px) {
  .login-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 575px) {
  .login-wrapper {
    width: 100%;
  }
}
.login-wrapper label {
  font-size: 16px;

  color: #000a4b;
  font-family: ProximaNova-Semibold;
}

.login-wrapper label.form-check-label {
  font-size: 14px;

  color: #646464;
  font-family: ProximaNova-Regular;
}

.login-wrapper label.form-check-label a {
  font-size: 14px;

  color: #000a4b;
  font-family: ProximaNova-Semibold;
}

.login-wrapper input {
}

.login-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;

  font-weight: normal;

  font-size: 14px;

  color: #5832e0;
  font-family: ProximaNova-Regular;
  outline: 0;
  box-shadow: none;
}
.login-wrapper .form-control::-webkit-input-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control::-moz-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control:-ms-input-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control::-ms-input-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control::placeholder {
  color: #b0adad;
}
.login-wrapper .login-btn {
  background-color: #5832e0;
  padding: 10px 40px !important;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
 /*  margin-bottom: 14px; */
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.login-wrapper .login-btn:hover {
  border: 1px solid #5832e0;
  background-color: #fff;
  color: #5832e0;
}
.login-wrapper a.forgot-password-link {
  color: #A1A5C5;
  font-size: 14px;
  /* text-decoration: underline; */
  display: inline-block;
  margin-bottom: 24px;
}
@media (max-width: 575px) {
  .login-wrapper a.forgot-password-link {
    margin-bottom: 16px;
  }
}
.login-wrapper-footer-text {
  font-size: 14px;
  color: #646464;
  margin-bottom: 0;
  margin-top: 50px;
}

.login-wrapper-footer-text .text-reset{
color:#000A4B !important;
font-family: ProximaNova-Semibold;
}

.login-title {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: ProximaNova-Semibold;
}

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

/*# sourceMappingURL=login.css.map */

.social{
  display: flex;
}
.social > span{
  float: left;
font-size: 14px;
color: #A1A5C5;
padding: 10px;
margin-top: 10px;
}
.social input {
  float: left;
}
.social a {
  float: left;
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  /* background: #f8f9fa; */
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #000;
  border: 1px solid #000;
    margin: 3px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.social .facebook{
  color: #3542E0;
  border-color: #3542E0;
}
.social .twitter{
  color: #1CAAEC;
    border-color: #1CAAEC;
}
.social .instagram{
  color: #B636B0;
  border-color: #B636B0;
}

.social .instagram img{
  width: 60%;
}

/* .social a:hover {
  color: #000A4B;
  background: #fff;
} */


.login-wrapper  select.form-control{
/*   -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;

    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none; */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* width: 278px; */
    /* border-color: #444 #333 #333 #444!important; */
    background: url(../img/down-arrow.png) no-repeat 100% 22px;
}
/* .login-wrapper  select.form-control:hover, .login-wrapper  select.form-control:focus{
  -webkit-appearance: none;

} */